<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/globalconfig.css" />
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <title>ITESO - Servicios Mi ITESO</title>
  <style>
    .accordion-button {
      font-size: 1.1rem;
      gap: 0.8rem;
    }

    .accordion-button::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    main {
      height: calc(100vh - 59px);
      /* this will keep the height constant */
    }
  </style>
</head>
