<!-- this is the ejs file for the main navbar -->
<header>
  <nav
    class="navbar w-100 navbar-expand-lg bg-iteso-primary p-0"
    style="height: 59px"
  >
    <div
      class="container-fluid p-0 d-flex justify-content-between"
      style="align-items: initial"
    >
      <a
        class="navbar-brand bg-iteso-secondary m-0 p-1"
        href="https://www.iteso.mx/"
        ><img
          style="width: 4rem"
          src="/assets/iteso-logo-cropped.png"
          alt="iteso logo"
      /></a>
      <div
        class="collapse navbar-collapse justify-content-between"
        id="mainPageNavbar"
      >
        <ul
          class="navbar-nav d-flex justify-content-between align-items-center w-100 m-0 h-100"
          style="height: inherit"
        >
          <li class="nav-item mx-3">
            <h5 class="title text-white text-uppercase m-0">zona reservada</h5>
          </li>
          <li class="nav-item mx-3">
            <form role="search">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-start-pill"
                  placeholder="Buscar"
                  aria-label="Buscar"
                  style="background-color: #fafafa; opacity: 85%"
                />
                <button
                  type="submit"
                  class="btn btn-iteso-secondary rounded-end-pill"
                >
                  <span class="text-white fa-solid fa-magnifying-glass"></span>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
