<!-- sidebar template -->

<div class="sidebar h-100">
  <!-- sidebar -->
  <div
    class="d-flex flex-column justify-content-between bg-iteso-primary-400 h-100"
    style="width: 20rem"
  >
    <div class="accordion accordion-flush w-100" id="sidebarAccordion">
      <div class="accordion-item">
        <h2 id="accordion-header" style="margin-bottom: 0">
          <button
            class="collapsed border-bottom border-white accordion-button bg-iteso-primary-700 text-white fw-bold d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#moneyInfo"
            aria-expanded="false"
            aria-controls="moneyInfo"
          >
            <span class="fa-solid fa-building-columns text-white"></span>
            Finanzas
          </button>
        </h2>
        <!-- TODO: DO LIST ITEMS -->
        <div
          id="moneyInfo"
          class="accordion-collapse collapse"
          data-bs-parent="#sidebarAccordion"
        >
          <div class="accordion-body p-0">
            <button
              id="toPayment"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Simulador de pagos
            </button>
            <button
              id="toSchoolBill"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Pago de colegiaturas
            </button>
            <button
              id="toEducationalCredit"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Cita para credito educativo
            </button>
            <button
              id="toSchoolarshipPlan"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Plan becario
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 id="accordion-header2" style="margin-bottom: 0">
          <button
            class="collapsed border-bottom border-white accordion-button bg-iteso-primary-700 text-white fw-bold d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#registrationInformation"
            aria-expanded="false"
            aria-controls="registrarionInformation"
          >
            <span class="fa-solid fa-list-check text-white"></span>
            Inscripciones
          </button>
        </h2>
        <!-- TODO: DO LIST ITEMS -->
        <div
          id="registrationInformation"
          class="accordion-collapse collapse"
          data-bs-parent="#sidebarAccordion"
        >
          <div class="accordion-body p-0">
            <button
              id="toRegisterAgain"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Proceso de reinscripcion
            </button>
            <button
              id="toRegisterInfo"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Ficha de reinscripcion
            </button>
            <button
              id="toSubjects"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Alta y baja de materias
            </button>
            <button
              id="toCourseOfferings"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Oferta de asignaturas
            </button>
            <button
              id="toClosedGroups"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Grupos cerrados
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 id="accordion-header3" style="margin-bottom: 0">
          <button
            class="collapsed border-bottom border-white accordion-button bg-iteso-primary-700 text-white fw-bold d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#academicinformation"
            aria-expanded="false"
            aria-controls="academicinformation"
          >
            <span class="fa-solid fa-graduation-cap text-white"></span>
            Académico
          </button>
        </h2>
        <!-- TODO: DO LIST ITEMS -->
        <div
          id="academicinformation"
          class="accordion-collapse collapse"
          data-bs-parent="#sidebarAccordion"
        >
          <div class="accordion-body p-0">
            <button
              id="toAcademicHistory"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Historia académica
            </button>
            <button
              id="toSchoolSchedule"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Horario escolar
            </button>
            <button
              id="toSubjectRoute"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Ruta sugerida de estudios
            </button>
            <button
              id="toIAE"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Evaluacion de cursos
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 id="accordion-header4" style="margin-bottom: 0">
          <button
            class="collapsed border-bottom border-white accordion-button bg-iteso-primary-700 text-white fw-bold d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#infoemploymentnetwork"
            aria-expanded="false"
            aria-controls="infoemploymentnetwork"
          >
            <span class="fa-solid fa-briefcase text-white"></span>
            Red y empleo
          </button>
        </h2>
        <!-- TODO: DO LIST ITEMS -->
        <div
          id="infoemploymentnetwork"
          class="accordion-collapse collapse"
          data-bs-parent="#sidebarAccordion"
        >
          <div class="accordion-body p-0">
            <button
              id="toEmployable"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Emplea
            </button>
            <button
              id="toCJuven"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              C-Juven
            </button>
            <button
              id="toPap"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              PAP
            </button>
            <button
              id="toSocialService"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Servicio social
            </button>
            <button
              id="toBuisnessNetwork"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Red de negocios
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 id="accordion-header4" style="margin-bottom: 0">
          <button
            class="collapsed border-bottom border-white accordion-button bg-iteso-primary-700 text-white fw-bold d-flex align-items-center justify-content-center"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#infostudy"
            aria-expanded="false"
            aria-controls="infostudy"
          >
            <span class="fa-solid fa-user text-white"></span>
            Estudiante
          </button>
        </h2>
        <!-- TODO: DO LIST ITEMS -->
        <div
          id="infostudy"
          class="accordion-collapse collapse"
          data-bs-parent="#sidebarAccordion"
        >
          <div class="accordion-body p-0">
            <button
              id="toPersonalInfo"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Datos Personales
            </button>
            <button
              id="toAcademicInfo"
              class="w-100 btn btn-iteso-primary-100 rounded-0 text-iteso-primary-400 p-3 border-0 border-bottom border-iteso-primary-400"
            >
              Informacion académica
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="user-menu"
      class="w-100 bg-iteso-tertiary p-3 text-white d-flex justify-content-between align-items-center pointer"
      style="font-size: 1.3rem"
    >
      <div class="user-info" style="cursor: pointer">
        <span class="fa-solid fa-user"></span>
        <strong id="userName" style="font-size: 0.8rem"
          ><%= first_name + " " + last_name %></strong
        >
      </div>
      <span id="logOutButton" class="fa-solid fa-right-from-bracket"></span>
    </div>
  </div>
</div>
