$primary: #00395b;
$secondary: #0093cb;
$info: #85b200;

/* primary configuration */
$iteso-primary: #00395b;
$iteso-primary-100: #ccd7de;
$iteso-primary-200: #99b0bd;
$iteso-primary-300: #66889d;
$iteso-primary-400: #33617c;
$iteso-primary-500: #00395b;
$iteso-primary-600: #002e49;
$iteso-primary-700: #002237;
$iteso-primary-800: #001724;
$iteso-primary-900: #000b12;

/* secondary palette */
$iteso-secondary: #0093cb;
$iteso-secondary-100: #cce9f5;
$iteso-secondary-200: #99d4ea;
$iteso-secondary-300: #66bee0;
$iteso-secondary-400: #33a9d5;
$iteso-secondary-500: #0093cb;
$iteso-secondary-600: #0076a2;
$iteso-secondary-700: #00587a;
$iteso-secondary-800: #003b51;
$iteso-secondary-900: #001d29;

/* tertiary palette */
$iteso-tertiary: #85b200;
$iteso-tertiary-100: #e7f0cc;
$iteso-tertiary-200: #cee099;
$iteso-tertiary-300: #b6d166;
$iteso-tertiary-400: #9dc133;
$iteso-tertiary-500: #85b200;
$iteso-tertiary-600: #6a8e00;
$iteso-tertiary-700: #506b00;
$iteso-tertiary-800: #354700;
$iteso-tertiary-900: #1b2400;

/* text primary */
.text-iteso-primary {
  color: $iteso-primary;
}
.text-iteso-primary-100 {
  color: $iteso-primary-100;
}
.text-iteso-primary-200 {
  color: $iteso-primary-200;
}
.text-iteso-primary-300 {
  color: $iteso-primary-300;
}
.text-iteso-primary-400 {
  color: $iteso-primary-400;
}
.text-iteso-primary-500 {
  color: $iteso-primary-500;
}
.text-iteso-primary-600 {
  color: $iteso-primary-600;
}
.text-iteso-primary-700 {
  color: $iteso-primary-700;
}
.text-iteso-primary-800 {
  color: $iteso-primary-800;
}
.text-iteso-primary-900 {
  color: $iteso-primary-900;
}

/* text secondary  */
.text-iteso-secondary {
  color: $iteso-secondary;
}
.text-iteso-secondary-100 {
  color: $iteso-secondary-100;
}
.text-iteso-secondary-200 {
  color: $iteso-secondary-200;
}
.text-iteso-secondary-300 {
  color: $iteso-secondary-300;
}
.text-iteso-secondary-400 {
  color: $iteso-secondary-400;
}
.text-iteso-secondary-500 {
  color: $iteso-secondary-500;
}
.text-iteso-secondary-600 {
  color: $iteso-secondary-600;
}
.text-iteso-secondary-700 {
  color: $iteso-secondary-700;
}
.text-iteso-secondary-800 {
  color: $iteso-secondary-800;
}
.text-iteso-secondary-900 {
  color: $iteso-secondary-900;
}

/* text tertiary */
.text-iteso-tertiary {
  color: $iteso-tertiary;
}
.text-iteso-tertiary-100 {
  color: $iteso-tertiary-100;
}
.text-iteso-tertiary-200 {
  color: $iteso-tertiary-200;
}
.text-iteso-tertiary-300 {
  color: $iteso-tertiary-300;
}
.text-iteso-tertiary-400 {
  color: $iteso-tertiary-400;
}
.text-iteso-tertiary-500 {
  color: $iteso-tertiary-500;
}
.text-iteso-tertiary-600 {
  color: $iteso-tertiary-600;
}
.text-iteso-tertiary-700 {
  color: $iteso-tertiary-700;
}
.text-iteso-tertiary-800 {
  color: $iteso-tertiary-800;
}
.text-iteso-tertiary-900 {
  color: $iteso-tertiary-900;
}

/* background primary */
.bg-iteso-primary {
  background-color: $iteso-primary;
}
.bg-iteso-primary-100 {
  background-color: $iteso-primary-100;
}
.bg-iteso-primary-200 {
  background-color: $iteso-primary-200;
}
.bg-iteso-primary-300 {
  background-color: $iteso-primary-300;
}
.bg-iteso-primary-400 {
  background-color: $iteso-primary-400;
}
.bg-iteso-primary-500 {
  background-color: $iteso-primary-500;
}
.bg-iteso-primary-600 {
  background-color: $iteso-primary-600;
}
.bg-iteso-primary-700 {
  background-color: $iteso-primary-700;
}
.bg-iteso-primary-800 {
  background-color: $iteso-primary-800;
}
.bg-iteso-primary-900 {
  background-color: $iteso-primary-900;
}

/* background secondary */
.bg-iteso-secondary {
  background-color: $iteso-secondary;
}
.bg-iteso-secondary-100 {
  background-color: $iteso-secondary-100;
}
.bg-iteso-secondary-200 {
  background-color: $iteso-secondary-200;
}
.bg-iteso-secondary-300 {
  background-color: $iteso-secondary-300;
}
.bg-iteso-secondary-400 {
  background-color: $iteso-secondary-400;
}
.bg-iteso-secondary-500 {
  background-color: $iteso-secondary-500;
}
.bg-iteso-secondary-600 {
  background-color: $iteso-secondary-600;
}
.bg-iteso-secondary-700 {
  background-color: $iteso-secondary-700;
}
.bg-iteso-secondary-800 {
  background-color: $iteso-secondary-800;
}
.bg-iteso-secondary-900 {
  background-color: $iteso-secondary-900;
}

/* background tertiary */
.bg-iteso-tertiary {
  background-color: $iteso-tertiary;
}
.bg-iteso-tertiary-100 {
  background-color: $iteso-tertiary-100;
}
.bg-iteso-tertiary-200 {
  background-color: $iteso-tertiary-200;
}
.bg-iteso-tertiary-300 {
  background-color: $iteso-tertiary-300;
}
.bg-iteso-tertiary-400 {
  background-color: $iteso-tertiary-400;
}
.bg-iteso-tertiary-500 {
  background-color: $iteso-tertiary-500;
}
.bg-iteso-tertiary-600 {
  background-color: $iteso-tertiary-600;
}
.bg-iteso-tertiary-700 {
  background-color: $iteso-tertiary-700;
}
.bg-iteso-tertiary-800 {
  background-color: $iteso-tertiary-800;
}
.bg-iteso-tertiary-900 {
  background-color: $iteso-tertiary-900;
}

/* custom styles */
input::placeholder {
  color: #000;
  opacity: 30%;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
