/* Some specific configurations for the login form */

body {
  /*background-image: url("../assets/iteso-bg.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.modal-content {
  background-color: #dddc;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 > img {
  width: 65%;
}

form,
form div {
  margin-bottom: 1.1rem;
}

.form-control {
  padding: 0.7rem 0.6rem;
  border-radius: 9px;
  border: 2px solid #aeaeae55;
  background-color: rgba(250, 250, 250, 70%);
  font-size: inherit;
  box-shadow: inset 0 2px 2px 0 #0002;
}

.form-group {
  position: relative;
}

.form-group > label {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0.8rem;
  padding-right: 0.6rem;
}

.form-control::placeholder {
  color: #0003;
}

p,
.form-check,
.modal-body > a,
#passwordReset {
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}

.form-check {
  margin-bottom: 1.2rem;
}

.btn-primary {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0.7rem 0;
  opacity: 85%;
}

.btn-primary:hover {
  opacity: 100%;
}
